streamlit
langchain
langchain-community
langchain-core
langgraph
langgraph-cli[inmem]
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
pydantic
google-ai-generativelanguage
langchain-google-genai
google-generativeai